import * as Sentry from "@sentry/nextjs";

Sentry.init({
  dsn: "https://37e9236122061bb079432144b9979aed@o4509333775450112.ingest.us.sentry.io/4509333782462464",
  integrations: [
    Sentry.feedbackIntegration({
      // Additional SDK configuration goes in here, for example:
      colorScheme: "system",
    }),
  ],
});